.contactus-item{
    .card-text{
        line-height: 1.8;
    }
}

.contactus-item .sec-sub-heading{
    font-size: 18px;       
}

.contactus-address-txt{
    font-size: 14px;
}

.bg-primary-after,
.bg-purple-after,
.bg-green-after{

    &::after{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 65%;
        background-color: $bg-primary;
        z-index: -1;
    }   
    .location-svg{
        fill: #f56962;
    }
}
.contactus-item-reverse{
    &::after{
        left: auto;
        right: 0;
        top: 0;
    }
}

.bg-purple-after{
    &::after{
        background-color: #6C63FF1A;
    }
}
.bg-green-after{
    &::after{
        background-color: #EFFCFA;
    }
}